<div class="container-fluid p-3">
  <nav class="navbar navbar-expand-lg">
    <div
      class="container-fluid d-flex align-items-center justify-content-start"
    >
      <a routerLink="" (click)="backPage()" id="backBtn" class="navbar-brand">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="iconSize"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"
          />
        </svg>
      </a>
      <span class="navbar-text text-black">Voltar</span>
    </div>
  </nav>

  <div class="container p-3 mt-3 d-flex flex-column border rounded">
    <p>{{stored.tableTurn}} - {{stored.tableActivity}}</p>
    <div class="row">
      <div class="col-12 d-flex flex-column justify-content-start gap-2">
        <div class="d-flex justify-content-start gap-3">
          <p class="mb-0">Marcar tudo:</p>
          <div class="form-check">
            <input type="checkbox" id="allroute" class="form-check-input" />
            <label for="allroute" class="form-check-label">Rota</label>
          </div>
        </div>

        <div class="d-flex flex-row gap-5">
          <div class="form-check">
            <input type="checkbox" id="allceia" class="form-check-input" />
            <label for="allceia" class="form-check-label">Ceia</label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="alldesj" class="form-check-input" />
            <label for="alldesj" class="form-check-label">Desj.</label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="allalm" class="form-check-input" />
            <label for="allalm" class="form-check-label">Alm.</label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="all1lanc" class="form-check-input" />
            <label for="all1lanc" class="form-check-label">1ºlanc</label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="alllancdob" class="form-check-input" />
            <label for="alllancdob" class="form-check-label">lanc.Dob</label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="alllancesp" class="form-check-input" />
            <label for="alllancesp" class="form-check-label">Lanc.Esp</label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="all2lanc" class="form-check-input" />
            <label for="all2lanc" class="form-check-label">2º Lanc(3ºT)</label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="alljant" class="form-check-input" />
            <label for="alljant" class="form-check-label">Jant</label>
          </div>
        </div>

        <!-- selectArea -->
        <!-- <div class="d-flex flex-row gap-1 align-items-center">
          <mat-form-field>
            <mat-label>Escolha a data</mat-label>
            <input matInput [matDatepicker]="picker" id="workDate" #workDate />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div> -->
      </div>
      <div class="col-12">
        <ul class="list-group">
          <li
            *ngFor="let item of customerDetails; let index = index"
            class="list-group-item p-2"
          >
            <div class="d-flex w-100 h-100">
              <div class="me-2 d-flex details flex-column w-50">
                <p class="mb-0">{{ item.nome_funcionario }}</p>
                <p class="mb-0">Matricula: {{ item.id }}</p>
              </div>
              <div class="row userForm w-75">
                <div class="col-4"><p>Rota</p></div>
                <div class="col-4"><p>Refeitório</p></div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      id="toggleAllForm{{ item.id }}"
                      class="form-check-input customPadding"
                      (click)="toggleAllUniqueCustomer(item)"
                    />
                    <label
                      for="toggleAllForm{{ item.id }}"
                      class="form-check-label"
                      >Todos</label
                    >
                  </div>
                </div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'route' + item.id"
                      (click)="toggleRota(item)"
                    />
                    <label for="route{{ item.id }}" class="form-check-label"
                      >Rota</label
                    >
                  </div>
                </div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'ceia' + item.id"
                      (click)="toggleCeia(item)"
                    />
                    <label for="ceia{{ item.id }}" class="form-check-label"
                      >Ceia</label
                    >
                  </div>
                </div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'desj' + item.id"
                      (click)="toggleDesj(item)"
                    />
                    <label for="desj{{ item.id }}" class="form-check-label"
                      >Desj.</label
                    >
                  </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'alm' + item.id"
                      (click)="toggleAlm(item)"
                    />
                    <label for="alm{{ item.id }}" class="form-check-label"
                      >Alm.</label
                    >
                  </div>
                </div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'1lanc' + item.id"
                      (click)="toggle1lanc(item)"
                    />
                    <label for="1lanc{{ item.id }}" class="form-check-label"
                      >1ºlanc.</label
                    >
                  </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'lancDob' + item.id"
                      (click)="toggleLancDob(item)"
                    />
                    <label for="lancDob{{ item.id }}" class="form-check-label"
                      >Lanc. Dob</label
                    >
                  </div>
                </div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'lancesp' + item.id"
                      (click)="toggleLancEsp(item)"
                    />
                    <label for="lancesp{{ item.id }}" class="form-check-label"
                      >Lanc. Esp</label
                    >
                  </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'2lanc' + item.id"
                      (click)="toggle2Lanc(item)"
                    />
                    <label for="2lanc{{ item.id }}" class="form-check-label"
                      >2º Lanc(3ºT)</label
                    >
                  </div>
                </div>
                <div class="col-4">
                  <div
                    class="form-check d-flex flex-row gap-1 align-items-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input customPadding"
                      value="{{ item }}"
                      [id]="'jan' + item.id"
                      (click)="toggleJan(item)"
                    />
                    <label for="jan{{ item.id }}" class="form-check-label"
                      >Jan</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-25 mt-3">
          Avançar para relatório
        </button>
      </div>
    </div>
  </div>
</div>
