<div class="container-fluid d-flex flex-column h-100">
  <div class="row h-100 p-0">
    <div
      class="h-100 col-12 d-flex flex-column justify-content-between align-items-center p-3 bg-dark text-bg-dark"
      style="width: 4%"
    >
      <a routerLink="" class="text-light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="iconSize"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"
          />
        </svg>
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 h-100 border-end border-2 d-flex flex-column">
      <button class="btn btn-primary m-4">+ Criar extra</button>
      <div class="d-flex flex-column gap-2 mt-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light filterHover">
            Recém adicionados
          </li>
          <li class="list-group-item bg-light">Aprovados</li>
          <li class="list-group-item bg-light">Rejeitados</li>
          <li class="list-group-item bg-light">Pendente</li>
        </ul>
      </div>
    </div>
    <div class="col-lg col-sm h-100 p-0 d-flex flex-column">
      <nav class="navbar navbar-expand-lg border-bottom border-2">
        <div
          class="container-fluid d-flex align-items-center justify-content-start"
        >
          <a class="navbar-brand">Extras</a>
        </div>
      </nav>
    </div>
  </div>
</div>
