<div class="container d-flex flex-column gap-2 h-100 p-3">
  <nav class="navbar navbar-expand-lg">
    <div
      class="container-fluid d-flex align-items-center justify-content-start"
    >
      <a routerLink="" class="navbar-brand">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="iconSize"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"
          />
        </svg>
      </a>
      <span class="navbar-text text-black">Planejamento Extra</span>
    </div>
  </nav>

  <div class="container-fluid h-100 p-3 border rounded"></div>
</div>
